*{
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
.active{
  color: red;
}
header ul{
  display: flex;
  list-style: none;
  padding: 10px;
}
ul li {
  padding: 20px;
  font-size: 20px;
}